<div class="container">
  <h2 class="text-center">Search for a Domain</h2>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Enter the global setting name:</label>
      <input type="text" formControlName="name" placeholder="Enter the global setting name" name="name" class="form-control" id="name">
    </div>

    <button class="btn btn-success">Submit</button>
  </form>
</div>

<div *ngIf="output !== null; else nullResponse">
<pre>
{{output | json}}
  <!--  {{output | json}}-->
</pre>
</div>

<ng-template #nullResponse>
  <h5>Unable to find the global setting</h5>
</ng-template>
